.DS_Store

#zed editor
.config/tmux/plugins/tmux-gruvbox/
.config/zed/prompts/prompts-library-db.0.mdb/lock.mdb

#tmux
.config/tmux/plugins/tpm/
.config/tmux/plugins/tmux-sensible/
.config/zed/prompts/prompts-library-db.0.mdb/data.mdb

#mpd
.config/mpd/state
.config/mpd/log
.config/mpd/database
.config/kitty/current-theme.conf
